<div class="container">


  <!-- Linhas de Negócio -->
  <table id="TABLE_to_Excel" class="p-16 pb-16" >

    <tr class="p-4 pb-16" fxLayout="column">
      <td class="h2">
        &nbsp; <b>Linhas de Negócio</b>
      </td>
    </tr>

    <table class="p-4 pb-16" fxLayout="column">
      <tr class="h3 font-weight-300 text-left">
        <td class="h1 font-weight-300 text-left"><b style="color:rgb(211, 85, 91)">Privite Equity</b></td>
      </tr>
      <tr class="h3 font-weight-300 text-left">
        <td class="h5 font-weight-100 text-left "><strong>Status:</strong> &nbsp; Ativo</td>
      </tr>
      <tr class="h3 font-weight-300 text-left">
        <td class="h5 font-weight-100 text-left "> <p></p></td>
      </tr>
      <tr class="h3 font-weight-300 text-left">
        <td class="h5 font-weight-300 text-left">É um fato conhecido de todos que um leitor se distrairá com o conteúdo de texto legível de uma página quando estiver examinando sua diagramação. A vantagem de usar Lorem Ipsum é que ele tem uma distribuição normal de letras, ao contrário de "Conteúdo aqui, conteúdo aqui", fazendo com que ele tenha uma aparência similar a de um texto legível. Muitos softwares de publicação e editores de páginas na internet agora usam Lorem Ipsum como texto-modelo padrão, e uma rápida busca por 'lorem ipsum' mostra vários websites ainda em sua fase de construção. Várias versões novas surgiram ao longo dos anos, eventualmente por acidente, e às vezes de propósito (injetando humor, e coisas do gênero). </td>
      </tr>
    </table>

    <tr class="p-4 pb-8" fxLayout="column">
      <td class="h2">--</td>
    </tr>

    <table class="p-4 pb-16" fxLayout="column">
      <tr class="h3 font-weight-300 text-left">
        <td class="h1 font-weight-300 text-left"><b style="color:rgb(211, 85, 91)">Seguros</b></td>
      </tr>
      <tr class="h3 font-weight-300 text-left">
        <td class="h5 font-weight-100 text-left "><strong>Status:</strong> &nbsp; Ativo</td>
      </tr>
      <tr class="h3 font-weight-300 text-left">
        <td class="h5 font-weight-100 text-left "> <p></p></td>
      </tr>
      <tr class="h3 font-weight-300 text-left">
        <td width="750" class="h5 font-weight-300 text-left">É um fato conhecido de todos que um leitor se distrairá com o conteúdo de texto legível de uma página quando estiver examinando sua diagramação. A vantagem de usar Lorem Ipsum é que ele tem uma distribuição normal de letras, ao contrário de "Conteúdo aqui, conteúdo aqui", fazendo com que ele tenha uma aparência similar a de um texto legível. Muitos softwares de publicação e editores de páginas na internet agora usam Lorem Ipsum como texto-modelo padrão, e uma rápida busca por 'lorem ipsum' mostra vários websites ainda em sua fase de construção. Várias versões novas surgiram ao longo dos anos, eventualmente por acidente, e às vezes de propósito (injetando humor, e coisas do gênero). </td>
      </tr>
    </table><br><br>
    <button class="btn btn-outline-primary" (click)="exportexcel()">Exportar para Excel</button>
  </table><br>


</div>
